{% extends 'base.html' %}
{% load static %}
<title>{% block title %}Home - spitz- www.spitz.com{% endblock %}</title>
{% block description %}Spitz is a microblogging and social networking platform on which users post event, secret and
reviews on products, individuals, organisation and location anonymously. The identity of it's users are private and
ensure that only real and active users stay on the platform.{% endblock %}
{% block keywords %}home, users, spitz, location, stay, active, real, only, ensure, private, identity, blog,event,
secret, review, social,network, chat, data{% endblock %}
{% block main %}
<style>
  .btnx {
    background-color: #8d0000 !important;
    color: white !important;
  }
  .btny {
    background-color: white !important;
    color: #8d0000 !important;
    border:1px solid #8d0000;
  }
</style>
{% if user.is_authenticated %}
<section class="row d-flex justify-content-center align-items-center bg-light" style="width:auto; max-height:100vh;height:100vh;">
  {% if user.id == object.author.id %}
      <form action="" method="post">
            {% csrf_token %}
            <p class="text-center text-danger" style="font-size:1em;text-align:center !important;font-weight:700;">Are you sure you want to delete this post ?</p>
            <span class="d-flex align-items-center justify-content-evenly mx-auto" style="width:30%">
              <input type="submit" value="Yes" class="btn btnx mx-auto">
              <a href="{% url 'post-detail' post.pk %}" class="btn btny mx-auto">No</a>
            </span>
        </form>
    {% else %}
        <div class="d-flex align-items-center justify-content-center" style="height:500px">
          <span class-"text-dark pt-5" style="font-size:2em;text-align:center !important;font-weight:700;">Page Not Available</span>
        </div>
    {% endif %}
</section>
{% else %}
<section class="row d-flex justify-content-center align-items-center bg-light" style="width:auto; max-height:100vh;height:100vh;">
 <div style="width:fit-content; height:fit-content; ">
  <span class-"text-dark" style="font-size:2em;text-align:center !important;font-weight:700;">Page Not Available</span>
  <div>
    <p class="text-dark text-center">Don't have an account? <a href="{% url 'signup' %}" class="text-decoration-none">Sign Up</a></p>
    <p class="text-dark my-3 text-center">Already have an account? <a href="{% url 'login' %}" class="text-decoration-none">Login</a></p>
  </div>
 </div>
</section>
{% endif %}
{% endblock %}