{% extends 'base.html' %}
{% load static %}
<title>{% block title %}Home - spitz- www.spitz.com{% endblock %}</title>
{% block description %}Spitz is a microblogging and social networking platform on which users post event, secret and
reviews on products, individuals, organisation and location anonymously. The identity of it's users are private and
ensure that only real and active users stay on the platform.{% endblock %}
{% block keywords %}home, users, spitz, location, stay, active, real, only, ensure, private, identity, blog,event,
secret, review, social,network, chat, data{% endblock %}
{% block main %}
<style>
  .btn {
    display: block !important;
    text-align: start;
    width: fit-content !important;
    border: none;
  }

  .sidebar a.btn {
    width: 80% !important;
  }

  .btn-outline-dark:hover {
    outline: none !important;
    box-shadow: none !important;
    background-color: var(--red-color) !important;
  }

  .btnx {
    background-color: #8d0000 !important;
    color: white !important;

  }

  .search-input-box {
    border-radius: 8px;
    background-color: #CFD2CF;
  }

  .search-input-box input {
    border: none;
    outline: none;
    background-color: #CFD2CF;
  }

  .user-profile {
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
  }

  .bi-person-circle {
    font-size: 30px;
  }

  @media (max-width:991px) {
    .spitz-lg-ads {
      display: none !important;
    }
  }

  @media (max-width:767px) {
    .spitz-large-medium-screen {
      display: none;
    }
  }

  @media (min-width:768px) {
    .spitz-small-screen {
      display: none;
    }
  }

  p {
    font-family: var(--font1);
    font-size: small;
    text-align: justify;
  }

  .ads-box {
    width: 100%;
    height: 500px;
    border-radius: 20px;
    margin-top: 6px;
    background-color: #CFD2CF;
  }

  .ads-container {
    width: 80%;
  }

  /* testing */
</style>
<!-- Large and Medium Screen UI Start -->
<section class="row spitz-large-medium-screen" style="max-height: 100vh !important; height: 100vh !important;">
  <!-- sidebar start -->
  <div class="col-lg-2 col-md-3 bg-light sidebar" style="max-height:100vh !important;">
    <ul class="p-0 py-4" style="width: 100%;height: inherit !important;">
      <!-- brand name start -->
      <li class="mx-auto px-5">
        <a href="{% url 'home_page' %}" class="d-block mx-auto heading mb-5 text-start">
          SPITZ
        </a>
      </li>
      <!-- brand name end -->
      <!-- sidebar menu start -->
      <li class="my-3 px-3">
        <a href="{% url 'home_page' %}" class=" mx-auto btn btn-outline-dark text-decoration-none">
          <i class=" mx-1 bi bi-house"></i>
          Home
        </a>
      </li>
      <li class="my-3 px-3">
        <a href="#" class="mx-auto btn btn-outline-dark text-decoration-none">
          <i class=" mx-1 bi bi-calendar-event"></i>
          Events
        </a>
      </li>
      <li class="my-3 px-3">
        <a href="#" class="mx-auto btn btn-outline-dark text-decoration-none">
          <i class=" mx-1 bi bi-file-earmark-lock2"></i>
          Secret
        </a>
      </li>
      <li class="my-3 px-3">
        <a href="#" class="mx-auto btn btn-outline-dark text-decoration-none">
          <i class=" mx-1 bi bi-pen"></i>
          Spitz
        </a>
      </li>
      <li class="my-3 px-3">
        <a href="{% url 'review-page' %}" class="mx-auto btn btn-outline-dark text-decoration-none">
          <i class=" mx-1 bi bi-eye-fill"></i>
          Review
        </a>
      </li>
      <li class="my-3 px-3">
        <a href="{% url 'setting-page' %}" class="mx-auto btn btn-outline-dark text-decoration-none">
          <i class=" mx-1 bi bi-sliders"></i>
          Settings
        </a>
      </li>
      <li class="my-3 px-3">
        <a href="#" class="mx-auto btn btn-outline-dark text-decoration-none">
          <i class=" mx-1 bi bi-box-arrow-right"></i>
          Logout
        </a>
      </li>
      <!-- sidebar menu end -->
    </ul>
  </div>
  <!-- sidebar end -->
  <!-- main section start -->
  <div class="col-lg-10 col-md-9" style="max-height:100vh !important;">
    <div class="row">
      <!-- navbar start -->
      <div class="col-12 bg-light d-flex align-items-center justify-content-between py-4 px-lg-5 px-md-3">
        <!-- page title start -->
        <p class="heading">Home</p>
        <!-- page title end -->
        <!-- menu start -->
        <div class="navbar-menu d-flex align-items-center">
          <!-- notification start -->
          <a href="{% url 'notify-page' %}" class="btn" style="background-color:#CFD2CF ;">
            <i class="bi bi-bell text-dark"></i>
          </a>
          <!-- notification end -->
          <!-- search bar start -->
          <div class="search-input-box mx-4 px-3 py-2">
            <i class="bi bi-search"></i>
            <input type="search" name="" id="searchinput" placeholder="Search">
          </div>
          <!-- search bar end -->
          <div class="user-profile py-1 px-2">
            <a href="{% url 'profile-page' %}" class="text-decoration-none text-dark">
              <i class="bi  bi-person-circle"></i>
            </a>
          </div>
        </div>
        <!-- menu end -->
      </div>
      <!-- navbar end -->
      <!-- content start -->
      <div class="col-12">
        <!-- content body start -->
        <div class="row">
          <!-- spitz body start -->
          <div class="col-lg-8 col-md-12" style="max-height:100vh;height: 100vh;">
            <!-- spitz-body-start -->
            <div class="row" style="overflow-y:auto ;">
              <!-- spitz-col start -->
              <div class="col-12 my-4">
                <a href="{% url 'spitz-detail' %}" class="row px-3 spitz-box mx-auto bg-light"
                  style="width: 80%; height: fit-content;box-shadow: 2px 3px 13px -1px rgba(0,0,0,0.75);text-decoration: none;">
                  <!-- spitz-side bar start -->
                  <div class="col-2 py-3" style="height:inherit ;">
                    <img src="{% static 'img/spy.png' %}" class="img-fluid d-block mx-auto" alt=""
                      style="border:1px solid black;border-radius: 50%;height: 50px;padding: 10px;">
                  </div>
                  <!-- spitz-side bar end -->
                  <div class="col-10 p-0" style="height: inherit;">
                    <!-- topbar start -->
                    <div class="topbar px-1 d-flex justify-content-between align-items-center"
                      style="height:50px;width: 100%;">
                      <div class="d-flex justify-content-between align-items-center" style="height: fit-content;">
                        <small class="text-dark fw-bold fs-5">Wxiixioo</small>
                        <small class="px-2 text-secondary">2h</small>
                      </div>
                      <button class="btn btnx">Event</button>
                    </div>
                    <!-- text-box -->
                    <div class="text-box px-1 mt-2" style="height: 100px;width: 100%;">
                      <p class="text-dark" style="text-align:justify ;font-size: small;">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore sed sunt similique veniam
                        impedit, labore commodi nesciunt adipisci vitae blanditiis distinctio officia sapiente nulla
                        fugiat.
                      </p>
                    </div>
                    <!-- text-img-box -->
                    <div class="text-img-box bg-light" style="height: 300px;width: 100%;">
                      <img src="{% static 'img/blog-img.jpg' %}" class="d-block w-100" alt=""
                        style="max-height: 300px; border-radius: 10px;">
                    </div>
                    <!-- spitz-blog-icon start -->
                    <div class="spitz-blog-icon py-3 px-2 d-flex justify-content-around">
                      <i class="bi bi-chat-left text-dark"></i>
                      <i class="bi bi-heart text-dark"></i>
                      <i class="bi bi-share text-dark"></i>
                    </div>
                    <!-- spitz-blog-icon end -->
                  </div>
                </a>
              </div>
              <!-- spitz-col end -->
              <!-- spitz-col start -->
              <div class="col-12 my-4">
                <a href="{% url 'spitz-detail' %}" class="row px-3 spitz-box mx-auto bg-light"
                  style="width: 80%; height: fit-content;box-shadow: 2px 3px 13px -1px rgba(0,0,0,0.75);text-decoration: none;">
                  <!-- spitz-side bar start -->
                  <div class="col-2 py-3" style="height:inherit ;">
                    <img src="{% static 'img/spy.png' %}" class="img-fluid d-block mx-auto" alt=""
                      style="border:1px solid black;border-radius: 50%;height: 50px;padding: 10px;">
                  </div>
                  <!-- spitz-side bar end -->
                  <div class="col-10 p-0" style="height: inherit;">
                    <!-- topbar start -->
                    <div class="topbar px-1 d-flex justify-content-between align-items-center"
                      style="height:50px;width: 100%;">
                      <div class="d-flex justify-content-between align-items-center" style="height: fit-content;">
                        <small class="text-dark fw-bold fs-5">Wxiixioo</small>
                        <small class="px-2 text-secondary">2h</small>
                      </div>
                      <button class="btn btnx">Event</button>
                    </div>
                    <!-- text-box -->
                    <div class="text-box px-1 mt-2" style="height: 100px;width: 100%;">
                      <p class="text-dark" style="text-align:justify ;font-size: small;">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore sed sunt similique veniam
                        impedit, labore
                        commodi nesciunt adipisci vitae blanditiis distinctio officia sapiente nulla fugiat.
                      </p>
                    </div>
                    <!-- text-img-box -->
                    <div class="text-img-box bg-light" style="height: 300px;width: 100%;">
                      <img src="{% static 'img/blog-img.jpg' %}" class="d-block w-100" alt=""
                        style="max-height: 300px; border-radius: 10px;">
                    </div>
                    <!-- spitz-blog-icon start -->
                    <div class="spitz-blog-icon py-3 px-2 d-flex justify-content-around">
                      <i class="bi bi-chat-left text-dark"></i>
                      <i class="bi bi-heart text-dark"></i>
                      <i class="bi bi-share text-dark"></i>
                    </div>
                    <!-- spitz-blog-icon end -->
                  </div>
                </a>
              </div>
              <!-- spitz-col end -->
              <!-- spitz-col start -->
              <div class="col-12 my-4">
                <a href="{% url 'spitz-detail' %}" class="row px-3 spitz-box mx-auto bg-light"
                  style="width: 80%; height: fit-content;box-shadow: 2px 3px 13px -1px rgba(0,0,0,0.75);text-decoration: none;">
                  <!-- spitz-side bar start -->
                  <div class="col-2 py-3" style="height:inherit ;">
                    <img src="{% static 'img/spy.png' %}" class="img-fluid d-block mx-auto" alt=""
                      style="border:1px solid black;border-radius: 50%;height: 50px;padding: 10px;">
                  </div>
                  <!-- spitz-side bar end -->
                  <div class="col-10 p-0" style="height: inherit;">
                    <!-- topbar start -->
                    <div class="topbar px-1 d-flex justify-content-between align-items-center"
                      style="height:50px;width: 100%;">
                      <div class="d-flex justify-content-between align-items-center" style="height: fit-content;">
                        <small class="text-dark fw-bold fs-5">Wxiixioo</small>
                        <small class="px-2 text-secondary">2h</small>
                      </div>
                      <button class="btn btnx">Event</button>
                    </div>
                    <!-- text-box -->
                    <div class="text-box px-1 mt-2" style="height: 100px;width: 100%;">
                      <p class="text-dark" style="text-align:justify ;font-size: small;">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore sed sunt similique veniam
                        impedit, labore
                        commodi nesciunt adipisci vitae blanditiis distinctio officia sapiente nulla fugiat.
                      </p>
                    </div>
                    <!-- text-img-box -->
                    <div class="text-img-box bg-light" style="height: 300px;width: 100%;">
                      <img src="{% static 'img/blog-img.jpg' %}" class="d-block w-100" alt=""
                        style="max-height: 300px; border-radius: 10px;">
                    </div>
                    <!-- spitz-blog-icon start -->
                    <div class="spitz-blog-icon py-3 px-2 d-flex justify-content-around">
                      <i class="bi bi-chat-left text-dark"></i>
                      <i class="bi bi-heart text-dark"></i>
                      <i class="bi bi-share text-dark"></i>
                    </div>
                    <!-- spitz-blog-icon end -->
                  </div>
                </a>
              </div>
              <!-- spitz-col end -->
              <!-- spitz-col start -->
              <div class="col-12 my-4">
                <a href="{% url 'spitz-detail' %}" class="row px-3 spitz-box mx-auto bg-light"
                  style="width: 80%; height: fit-content;box-shadow: 2px 3px 13px -1px rgba(0,0,0,0.75);text-decoration: none;">
                  <!-- spitz-side bar start -->
                  <div class="col-2 py-3" style="height:inherit ;">
                    <img src="{% static 'img/spy.png' %}" class="img-fluid d-block mx-auto" alt=""
                      style="border:1px solid black;border-radius: 50%;height: 50px;padding: 10px;">
                  </div>
                  <!-- spitz-side bar end -->
                  <div class="col-10 p-0" style="height: inherit;">
                    <!-- topbar start -->
                    <div class="topbar px-1 d-flex justify-content-between align-items-center"
                      style="height:50px;width: 100%;">
                      <div class="d-flex justify-content-between align-items-center" style="height: fit-content;">
                        <small class="text-dark fw-bold fs-5">Wxiixioo</small>
                        <small class="px-2 text-secondary">2h</small>
                      </div>
                      <button class="btn btnx">Event</button>
                    </div>
                    <!-- text-box -->
                    <div class="text-box px-1 mt-2" style="height: 100px;width: 100%;">
                      <p class="text-dark" style="text-align:justify ;font-size: small;">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore sed sunt similique veniam
                        impedit, labore
                        commodi nesciunt adipisci vitae blanditiis distinctio officia sapiente nulla fugiat.
                      </p>
                    </div>
                    <!-- text-img-box -->
                    <div class="text-img-box bg-light" style="height: 300px;width: 100%;">
                      <img src="{% static 'img/blog-img.jpg' %}" class="d-block w-100" alt=""
                        style="max-height: 300px; border-radius: 10px;">
                    </div>
                    <!-- spitz-blog-icon start -->
                    <div class="spitz-blog-icon py-3 px-2 d-flex justify-content-around">
                      <i class="bi bi-chat-left text-dark"></i>
                      <i class="bi bi-heart text-dark"></i>
                      <i class="bi bi-share text-dark"></i>
                    </div>
                    <!-- spitz-blog-icon end -->
                  </div>
                </a>
              </div>
              <!-- spitz-col end -->
              <!-- spitz-col start -->
              <div class="col-12 my-4">
                <a href="{% url 'spitz-detail' %}" class="row px-3 spitz-box mx-auto bg-light"
                  style="width: 80%; height: fit-content;box-shadow: 2px 3px 13px -1px rgba(0,0,0,0.75);text-decoration: none;">
                  <!-- spitz-side bar start -->
                  <div class="col-2 py-3" style="height:inherit ;">
                    <img src="{% static 'img/spy.png' %}" class="img-fluid d-block mx-auto" alt=""
                      style="border:1px solid black;border-radius: 50%;height: 50px;padding: 10px;">
                  </div>
                  <!-- spitz-side bar end -->
                  <div class="col-10 p-0" style="height: inherit;">
                    <!-- topbar start -->
                    <div class="topbar px-1 d-flex justify-content-between align-items-center"
                      style="height:50px;width: 100%;">
                      <div class="d-flex justify-content-between align-items-center" style="height: fit-content;">
                        <small class="text-dark fw-bold fs-5">Wxiixioo</small>
                        <small class="px-2 text-secondary">2h</small>
                      </div>
                      <button class="btn btnx">Event</button>
                    </div>
                    <!-- text-box -->
                    <div class="text-box px-1 mt-2" style="height: 100px;width: 100%;">
                      <p class="text-dark" style="text-align:justify ;font-size: small;">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore sed sunt similique veniam
                        impedit, labore
                        commodi nesciunt adipisci vitae blanditiis distinctio officia sapiente nulla fugiat.
                      </p>
                    </div>
                    <!-- text-img-box -->
                    <div class="text-img-box bg-light" style="height: 300px;width: 100%;">
                      <img src="{% static 'img/blog-img.jpg' %}" class="d-block w-100" alt=""
                        style="max-height: 300px; border-radius: 10px;">
                    </div>
                    <!-- spitz-blog-icon start -->
                    <div class="spitz-blog-icon py-3 px-2 d-flex justify-content-around">
                      <i class="bi bi-chat-left text-dark"></i>
                      <i class="bi bi-heart text-dark"></i>
                      <i class="bi bi-share text-dark"></i>
                    </div>
                    <!-- spitz-blog-icon end -->
                  </div>
                </a>
              </div>
              <!-- spitz-col end -->
            </div>
            <!-- spitz-body-end -->
          </div>
          <!-- spitz body end -->
          <!-- ads start -->
          <div class="col-lg-4 col-md-5 spitz-lg-ads mt-4" style="max-height:100vh;">
            <div class="ads-container mx-auto">
              <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="9000">
                    <div class="ads-box">
                      <p class="text-dark p-3">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos repellendus quo cumque at nulla
                        atque rerum asperiores
                        dolore reprehenderit, pariatur debitis iure harum est quisquam iusto magni dolorem ex eveniet!
                      </p>
                      <a href="#" class="text-decoration-none d-block">
                        <img src="{% static 'img/blog-img.jpg' %}" class="d-block w-100" alt="ads-img"
                          style="height:200px;">
                        <p class="px-3 text-success pt-1">www.ads.com</p>
                        <p class="px-3 text-dark fw-bold text-uppercase">We sell not just drink but expression</p>
                      </a>
                    </div>
                  </div>
                  <div class="carousel-item py-3" data-bs-interval="9000">
                    <div class="ads-box">
                      <p class="text-dark p-3">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos repellendus quo cumque at nulla
                        atque rerum asperiores
                        dolore reprehenderit, pariatur debitis iure harum est quisquam iusto magni dolorem ex eveniet!
                      </p>
                      <a href="#" class="text-decoration-none d-block">
                        <img src="{% static 'img/bg04.jpg' %}" class="d-block w-100" alt="ads-img"
                          style="height:200px;">
                        <p class="px-3 text-success pt-1">www.ads.com</p>
                        <p class="px-3 text-dark fw-bold text-uppercase">We sell not just drink but expression</p>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ads end -->
        </div>
        <!-- content body end -->
      </div>
      <!-- content end -->
    </div>
  </div>
  <!-- main section end -->
</section>
<!-- Large and Medium Screen UI End -->
<!-- Small Screen Ui Start -->
<section class="row d-block d-md-none" style="max-height: 100vh !important;height: 100vh !important; background-color: #CFD2CF;">
  <!-- header start -->
  <div class="col-12 bg-light d-flex align-items-center justify-content-around px-3"
    style="max-height:7vh ;height: 7vh; ">
    <div class="row">
      <!-- profile start -->
      <div class="col-2 d-flex align-items-center justify-content-center">
        <a href="{% url 'profile-page' %}" class="text-decoration-none text-dark">
          <i class="bi  bi-person-circle"></i>
        </a>
      </div>
      <!-- search bar -->
      <div class="col-8 d-flex align-items-center justify-content-center">
        <div class="search-input-box mx-2 px-2 py-1" style="width: 100%;">
          <i class="bi bi-search"></i>
          <input type="search" name="" id="searchinput" placeholder="Search" style="width: 80% !important; ;">
        </div>
      </div>
      <!-- notification -->
      <div class="col-2 d-flex align-items-center justify-content-center">
        <a href="{% url 'notify-page' %}" class="btn" style="background-color:#CFD2CF ;">
          <i class="bi bi-bell text-dark"></i>
        </a>
      </div>
    </div>
  </div>
  <!-- header end -->
  <!-- content start -->
  <div class="col-12" style="max-height: 86vh; height: 86vh;" style="position:relative ; z-index: -10;">
    <!-- spitz-body-start -->
    <div class="row" style="overflow-y:auto ;">
      <!-- spitz-col start -->
      <div class="col-12 my-3" style="border-radius: 40px;">
        <a href="{% url 'spitz-detail' %}" class="row px-3 spitz-box mx-auto bg-light"
          style="width: 100%; height: fit-content;box-shadow: 2px 3px 13px -1px rgba(0,0,0,0.75);text-decoration: none;">

          <div class="col-12 p-0" style="height: inherit;">
            <!-- topbar start -->
            <div class="topbar px-1 d-flex justify-content-between align-items-center" style="height:50px;width: 100%;">
              <div class="d-flex justify-content-between align-items-center" style="height: fit-content;">
                <small class="text-dark fw-bold fs-5">Wxiixioo</small>
                <small class="px-2 text-secondary">2h</small>
              </div>
              <button class="btn btnx">Event</button>
            </div>
            <!-- text-box -->
            <div class="text-box px-1 mt-1" style="height: 100px;width: 100%;">
              <p class="text-dark" style="text-align:justify ;font-size: small;">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque numquam tempora corrupti molestias
                fugiat mollitia quo nihil accusamus deserunt voluptatem.
              </p>
            </div>
            <!-- text-img-box -->
            <div class="text-img-box bg-light" style="height: 200px;width: 100%;">
              <img src="{% static 'img/blog-img.jpg' %}" class="d-block w-100" alt=""
                style="max-height: 200px; border-radius: 10px;">
            </div>
            <!-- spitz-blog-icon start -->
            <div class="spitz-blog-icon py-2 px-2 d-flex justify-content-around">
              <i class="bi bi-chat-left text-dark"></i>
              <i class="bi bi-heart text-dark"></i>
              <i class="bi bi-share text-dark"></i>
            </div>
            <!-- spitz-blog-icon end -->
          </div>
        </a>
      </div>
      <!-- spitz-col end -->
      <!-- spitz-col start -->
      <div class="col-12 my-3" style="border-radius: 40px;">
        <a href="{% url 'spitz-detail' %}" class="row px-3 spitz-box mx-auto bg-light"
          style="width: 100%; height: fit-content;box-shadow: 2px 3px 13px -1px rgba(0,0,0,0.75);text-decoration: none;">

          <div class="col-12 p-0" style="height: inherit;">
            <!-- topbar start -->
            <div class="topbar px-1 d-flex justify-content-between align-items-center" style="height:50px;width: 100%;">
              <div class="d-flex justify-content-between align-items-center" style="height: fit-content;">
                <small class="text-dark fw-bold fs-5">Wxiixioo</small>
                <small class="px-2 text-secondary">2h</small>
              </div>
              <button class="btn btnx">Event</button>
            </div>
            <!-- text-box -->
            <div class="text-box px-1 mt-1" style="height: 100px;width: 100%;">
              <p class="text-dark" style="text-align:justify ;font-size: small;">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque numquam tempora corrupti molestias
                fugiat
                mollitia quo nihil accusamus deserunt voluptatem.
              </p>
            </div>
            <!-- text-img-box -->
            <div class="text-img-box bg-light" style="height: 200px;width: 100%;">
              <img src="{% static 'img/blog-img.jpg' %}" class="d-block w-100" alt=""
                style="max-height: 200px; border-radius: 10px;">
            </div>
            <!-- spitz-blog-icon start -->
            <div class="spitz-blog-icon py-2 px-2 d-flex justify-content-around">
              <i class="bi bi-chat-left text-dark"></i>
              <i class="bi bi-heart text-dark"></i>
              <i class="bi bi-share text-dark"></i>
            </div>
            <!-- spitz-blog-icon end -->
          </div>
        </a>
      </div>
      <!-- spitz-col end -->
      <!-- spitz-col start -->
      <div class="col-12 my-3" style="border-radius: 40px;">
        <a href="{% url 'spitz-detail' %}" class="row px-3 spitz-box mx-auto bg-light"
          style="width: 100%; height: fit-content;box-shadow: 2px 3px 13px -1px rgba(0,0,0,0.75);text-decoration: none;">

          <div class="col-12 p-0" style="height: inherit;">
            <!-- topbar start -->
            <div class="topbar px-1 d-flex justify-content-between align-items-center" style="height:50px;width: 100%;">
              <div class="d-flex justify-content-between align-items-center" style="height: fit-content;">
                <small class="text-dark fw-bold fs-5">Wxiixioo</small>
                <small class="px-2 text-secondary">2h</small>
              </div>
              <button class="btn btnx">Event</button>
            </div>
            <!-- text-box -->
            <div class="text-box px-1 mt-1" style="height: 100px;width: 100%;">
              <p class="text-dark" style="text-align:justify ;font-size: small;">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque numquam tempora corrupti molestias
                fugiat
                mollitia quo nihil accusamus deserunt voluptatem.
              </p>
            </div>
            <!-- text-img-box -->
            <div class="text-img-box bg-light" style="height: 200px;width: 100%;">
              <img src="{% static 'img/blog-img.jpg' %}" class="d-block w-100" alt=""
                style="max-height: 200px; border-radius: 10px;">
            </div>
            <!-- spitz-blog-icon start -->
            <div class="spitz-blog-icon py-2 px-2 d-flex justify-content-around">
              <i class="bi bi-chat-left text-dark"></i>
              <i class="bi bi-heart text-dark"></i>
              <i class="bi bi-share text-dark"></i>
            </div>
            <!-- spitz-blog-icon end -->
          </div>
        </a>
      </div>
      <!-- spitz-col end -->
      <!-- spitz-col start -->
      <div class="col-12 my-3" style="border-radius: 40px;">
        <a href="{% url 'spitz-detail' %}" class="row px-3 spitz-box mx-auto bg-light"
          style="width: 100%; height: fit-content;box-shadow: 2px 3px 13px -1px rgba(0,0,0,0.75);text-decoration: none;">

          <div class="col-12 p-0" style="height: inherit;">
            <!-- topbar start -->
            <div class="topbar px-1 d-flex justify-content-between align-items-center" style="height:50px;width: 100%;">
              <div class="d-flex justify-content-between align-items-center" style="height: fit-content;">
                <small class="text-dark fw-bold fs-5">Wxiixioo</small>
                <small class="px-2 text-secondary">2h</small>
              </div>
              <button class="btn btnx">Event</button>
            </div>
            <!-- text-box -->
            <div class="text-box px-1 mt-1" style="height: 100px;width: 100%;">
              <p class="text-dark" style="text-align:justify ;font-size: small;">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque numquam tempora corrupti molestias
                fugiat
                mollitia quo nihil accusamus deserunt voluptatem.
              </p>
            </div>
            <!-- text-img-box -->
            <div class="text-img-box bg-light" style="height: 200px;width: 100%;">
              <img src="{% static 'img/blog-img.jpg' %}" class="d-block w-100" alt=""
                style="max-height: 200px; border-radius: 10px;">
            </div>
            <!-- spitz-blog-icon start -->
            <div class="spitz-blog-icon py-2 px-2 d-flex justify-content-around">
              <i class="bi bi-chat-left text-dark"></i>
              <i class="bi bi-heart text-dark"></i>
              <i class="bi bi-share text-dark"></i>
            </div>
            <!-- spitz-blog-icon end -->
          </div>
        </a>
      </div>
      <!-- spitz-col end -->
      <!-- spitz-col start -->
      <div class="col-12 my-3" style="border-radius: 40px;">
        <a href="{% url 'spitz-detail' %}" class="row px-3 spitz-box mx-auto bg-light"
          style="width: 100%; height: fit-content;box-shadow: 2px 3px 13px -1px rgba(0,0,0,0.75);text-decoration: none;">

          <div class="col-12 p-0" style="height: inherit;">
            <!-- topbar start -->
            <div class="topbar px-1 d-flex justify-content-between align-items-center" style="height:50px;width: 100%;">
              <div class="d-flex justify-content-between align-items-center" style="height: fit-content;">
                <small class="text-dark fw-bold fs-5">Wxiixioo</small>
                <small class="px-2 text-secondary">2h</small>
              </div>
              <button class="btn btnx">Event</button>
            </div>
            <!-- text-box -->
            <div class="text-box px-1 mt-1" style="height: 100px;width: 100%;">
              <p class="text-dark" style="text-align:justify ;font-size: small;">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque numquam tempora corrupti molestias
                fugiat
                mollitia quo nihil accusamus deserunt voluptatem.
              </p>
            </div>
            <!-- text-img-box -->
            <div class="text-img-box bg-light" style="height: 200px;width: 100%;">
              <img src="{% static 'img/blog-img.jpg' %}" class="d-block w-100" alt=""
                style="max-height: 200px; border-radius: 10px;">
            </div>
            <!-- spitz-blog-icon start -->
            <div class="spitz-blog-icon py-2 px-2 d-flex justify-content-around">
              <i class="bi bi-chat-left text-dark"></i>
              <i class="bi bi-heart text-dark"></i>
              <i class="bi bi-share text-dark"></i>
            </div>
            <!-- spitz-blog-icon end -->
          </div>
        </a>
      </div>
      <!-- spitz-col end -->

    </div>
    <!-- spitz-body-end -->
  </div>
  <!-- content end -->
  <!-- Navbar start -->
  <div class="col-12 bg-light d-flex align-items-center justify-content-around sticky-bottom"
    style="max-height:7vh;height: 7vh;">
    <!-- Home -->
    <a href="#">
      <i class="bi bi-house btn" style="background-color:#CFD2CF ;"></i>
    </a>
    <!-- Events -->
    <a href="">
      <i class="bi bi-calendar-event btn" style="background-color:#CFD2CF ;"></i>
    </a>
    <!-- Secrets -->
    <a href="#">
      <i class="bi bi-file-earmark-lock2 btn" style="background-color:#CFD2CF ;"></i>
    </a>
    <!-- Add spitz -->
    <a href="#">
      <i class="bi bi-pen btn" style="background-color:#CFD2CF ;"></i>
    </a>
    <!-- Review -->
    <a href="#">
      <i class="bi bi-eye-fill btn" style="background-color:#CFD2CF ;"></i>
    </a>
    <!-- end -->
  </div>
  <!-- Navbar end -->
</section>
<!-- Small Screen Ui End -->
{% endblock %}