{% extends 'base.html' %}
{% load static %}
<title>{% block title %}Home - spitz- www.spitz.com{% endblock %}</title>
{% block description %}Spitz is a microblogging and social networking platform on which users post event, secret and reviews on products, individuals, organisation and location anonymously. The identity of it's users are private and ensure that only real and active users stay on the platform.{% endblock %}
{% block keywords %}home, users, spitz, location, stay, active, real, only, ensure, private, identity, blog,event, secret, review, social,network, chat, data{% endblock %}
{% block main %}
<!-- Full page start -->
<section class="row">
    <!-- left side start -->
    <div class="col-lg-2 col-md-2 bg-light p-5" style="height: 100vh;">
        <!-- brand name start -->
        <a href="#" class="d-block mx-auto heading text-center my-3">
            SPITZ
        </a>
        <!-- brand name end -->
        <!-- navbar menu start -->
        <div class="sidebar-menu">
            <!-- top sidebar-menu start -->
            <ul >
                <li class="my-3 btnx"><a href="#"><i class=" mx-2 bi bi-house"></i>Home</a></li>
                <li class="my-3 btnx"><a href="#"><i class=" mx-2 bi bi-calendar-event"></i>Events</a></li>
                <li class="my-3 btnx"><a href="#"><i class=" mx-2 bi bi-eyeglasses"></i>Review</a></li>
                <li class="my-3 btnx"><a href="#"><i class=" mx-2 bi bi-incognito"></i>Secret</a></li>
            </ul>
            <!-- top sidebar-menu end -->
            <ul style="height: 30vh;"></ul>
            <!-- bottom sidebar-menu start -->
            <ul>
                <li class="my-3 btnx"><a href="#"><i class=" mx-2 bi bi-sliders"></i>Settings</a></li>
                <li class="my-3 btnx"><a href="#"><i class=" mx-2 bi bi-box-arrow-right"></i>Logout</a></li>
            </ul>
            <!-- bottom sidebar-menu end -->
        </div>
        <!-- navbar menu end -->
    </div>
    <!-- left side end -->
    <!--right side start  -->
    <div class="col-lg-10 col-md-10" style="height: 100vh;"></div>
    <!-- right side end -->
</section>
<!-- full page end -->
{% endblock %}